<% provide(:title, 'Todos usuarios') %>
<h1>Todos usuarios</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
	<li>
	  <%= gravatar_for user, size: 50 %>
	  <%= link_to user.nomeCompleto, user %>
	  <% if current_user.admin? && !current_user?(user) %>
	    | <%= link_to "Apagar", user, method: :delete,
	                                  data: { confirm: "Você esta certo disso?" } %>
	  <% end %>
	</li>
  <% end %>
</ul>

<%= will_paginate %>

<footer>
  <p>Trabalho de Tópicos Especiais em Computação - Anuário 2014/2</p>
</footer>